﻿@model ChgkSystem.WebUI.Models.ReportFileModel

@using (Html.BeginForm("AddFile", "Report", FormMethod.Post, new { enctype = "multipart/form-data", id = "addReportFileForm" }))
{
	@Html.HiddenFor(m => m.TourID)
	<div class="modal-body">
		@Html.LabelFor(m => m.File)
		<div class="btn-group">
			<div class="row">
				<div class="col-sm-9">
					@Html.TextBoxFor(m => m.File, new {type = "file", @class = "filestyle", data_buttontext = "Выбрать файл", data_buttonbefore = "true", id = "reportFileInput" })
					@Html.ValidationMessageFor(m => m.File)
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary btn-block">Загрузить</button>
				</div>
			</div>
		</div>
	</div>
}
