﻿@model ChgkSystem.WebUI.Models.RegisterFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnBegin = "onBeginRegister",
		OnSuccess = "onSuccessRegister"
	};
}

@using (Ajax.BeginForm("Register", ajaxOptions))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PasswordConfirm)
		@Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
	</div>
	<input type="submit" class="btn btn-primary btn-block" value="Зарегистрироваться" />
}

