﻿
<label for="inputResultFile">Загрузить обработанный файл</label>
<div class="btn-group">
	<div class="row">
		<div class="col-sm-9">
			<input id="File" type="file" class="filestyle" data-buttontext="Выбрать файл" data-buttonbefore="true">
		</div>
		<div class="col-sm-3">
			<button type="button" class="btn btn-primary btn-block">Загрузить</button>
		</div>
	</div>
</div>
