﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.DiscussProtocolFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Discuss", "Protocol", ajaxOptions))
{
	@Html.HiddenFor(m => m.TourID)
	<div class="modal-body">
		@foreach (var question in Model.Questions)
		{
			var answers = question.PendingAnswers.Where(a => a.Decisions.Select(d => d.Decision).Distinct().Count() > 1);
			if (!answers.Any())
			{
				continue;
			}
			<label>@question.Text</label>
			foreach (var answer in answers)
			{
				<div class="row">
					<div class="col-sm-8">
						@answer.Text

						<div>
							<a href="#" data-toggle="collapse" data-target="@("#discuss" + answer.ID)">
								<i class="fa fa-comments-o"></i>
								Мнения
							</a>
							<ul id="@("#discuss" + answer.ID)" class="list-unstyled list-tabbed collapse">
								@foreach (var decision in answer.Decisions)
								{
									<li>
										@switch (decision.Decision)
										{
											case JuryDecision.Correct:
												<span class="text-success">
												<i class="fa fa-check"></i>
												@decision.User.UserName считает ответ верным
											</span>
												break;
											case JuryDecision.Incorrect:
												<span class="text-danger">
												<i class="fa fa-times"></i>
												@decision.User.UserName считает ответ неверным
											</span>
												break;
										}
									</li>
								}
							</ul>
						</div>
					</div>
					<div class="col-sm-4 check-buttons">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default btn-sm">
								@Html.RadioButton("Answers[" + answer.ID + "]", JuryDecision.Incorrect)
								<input type="radio" name="options" id="option1">
								<span class="text-danger">
								<i class="fa fa-times"></i>
								Неверно
							</span>
							</label>
							<label class="btn btn-default btn-sm">
								@Html.RadioButton("Answers[" + answer.ID + "]", JuryDecision.Correct)
								<span class="text-success">
								<i class="fa fa-check"></i>
								Верно
							</span>
							</label>
						</div>
					</div>
				</div>
				<hr/>
			}
		}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Сохранить">
	</div>
}