﻿@model ChgkSystem.Domain.Entities.Tournament

<div class="tournament-preview">
	<h3>@Html.ActionLink(Model.Title, "Details", new { id = Model.ID })</h3>
	<div class="description">
		<p>@Model.Description</p>
	</div>
	<hr />
	<ul class="list-inline status-bar">
		<li>
			<i class="fa fa-calendar"></i>
			@Model.SinceDate.Value.ToString("dd.MM.yyyy") - @Model.UntilDate.Value.ToString("dd.MM.yyyy")
		</li>
	</ul>
</div>