﻿@using ChgkSystem.Domain.Entities
@using ChgkSystem.WebUI.Models
@using Microsoft.AspNet.Identity
@model Tournament

@{
	ViewBag.Title = "Details";
	ViewBag.isManager = User.Identity.GetUserId() == Model.UserID;
}

<h3>@Model.Title</h3>
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab-info" data-toggle="tab">Информация</a></li>
	<li><a href="#tab-playgrounds" data-toggle="tab">Площадки</a></li>
	<li><a href="#tab-tours" data-toggle="tab">Туры</a></li>
	<li><a href="#tab-groups" data-toggle="tab">Группы</a></li>
	@if (Model.Tours.Any(m => m.Status == TourStatus.WaitingAppeals || m.Status == TourStatus.Finished))
	{
		<li>
			<button class="btn btn-primary"
					data-toggle="modal"
					data-target="#resultsModal"
					data-url="@Url.Action("All", "Results", new { tournamentID = Model.ID })">
				Результаты
			</button>
		</li>
	}
</ul>
<div class="tab-content tournament">

	<div class="tab-pane fade active in" id="tab-info">
		<button class="btn btn-link pull-right" data-toggle="modal" data-target="#registerTeamModal">
			Отправить заявку на участие
		</button>
		<div class="clearfix"></div>
		<p>
			@Model.Description
		</p>
		<hr />
		<ul class="list-unstyled">
			<li>
				<i class="fa fa-calendar"></i>
				Время проведения:
				@Model.SinceDate.Value.ToString("dd.MM.yyyy") - @Model.UntilDate.Value.ToString("dd.MM.yyyy")
			</li>
			@*<hr />
			<li>
				<i class="fa fa-calendar-o"></i>
				Подача заявок до:
				@Model.RequestsUntilDate.Value.ToString("dd.MM.yyyy")
			</li>*@
		</ul>
	</div>

	<div class="tab-pane fade" id="tab-playgrounds">
		@if (User.Identity.IsAuthenticated)
		{
			<button class="btn btn-link pull-right" data-toggle="modal" data-target="#addPlaygroundModal">
				Отправить заявку на создание площадки
			</button>
		}
		<div class="clearfix"></div>
		@foreach (var playground in @Model.AcceptedPlaygrounds)
		{
			@Html.Partial("Playground/_Item", playground)
		}
		@if (ViewBag.isManager)
		{
			foreach (var playground in @Model.PendingPlaygrounds)
			{
				<div class="panel panel-warning">
					<div class="panel-heading">
						@Html.Partial("Playground/_SubmitForm", new PlaygroundSubmitFormModel { PlaygroundID = playground.ID })
					</div>
					<div class="panel-body">
						@Html.Partial("Playground/_Item", playground)
					</div>
				</div>
			}
		}

	</div>

	<div class="tab-pane fade" id="tab-tours">
		@if (ViewBag.isManager)
		{
			<button class="btn btn-link pull-right" data-toggle="modal" data-target="#addTourModal">
				Добавить тур
			</button>
		}
		@foreach (var tour in Model.Tours)
		{
			@Html.Partial("Tour/_Item", tour)
		}

		<hr />
		@if (ViewBag.isManager)
		{
			<button class="btn btn-link pull-right" data-toggle="modal" data-target="#addTourModal">
				Добавить финальный тур
			</button>
		}
		<h3>Финал</h3>
		@* TODO: final *@
	</div>

	<div class="tab-pane fade" id="tab-groups">
		@if (ViewBag.isManager)
		{
			<button class="btn btn-link pull-right" data-toggle="modal" data-target="#addGroupModal">
				Добавить группу
			</button>
		}
		<div class="clearfix"></div>
		<ul class="media-list">
			@foreach (var group in Model.Groups)
			{
				<li class="media">
					<div class="media-body">
						<h4 class="media-heading">@group.Title</h4>
						@group.Description
					</div>
				</li>
			}
		</ul>
	</div>
</div>


@using (Html.BeginModal("registerTeamModal", "Добавить команду"))
{
	<div class="modal-form-container">
		@Html.Partial("Team/_RegisterForm", new RegisterTeamFormModel { Tournament = Model, TournamentID = Model.ID })
	</div>
}


@using (Html.BeginModal("addPlaygroundModal", "Добавить отчетную площадку"))
{
	<div class="modal-form-container">
		@Html.Partial("Playground/_AddForm", new PlaygroundFormModel { TournamentID = Model.ID })
	</div>
}

@if (ViewBag.isManager)
{
	using (Html.BeginModal("addGroupModal", "Добавить группу"))
	{
		<div class="modal-form-container">
			@Html.Partial("Group/_AddForm", new Group { TournamentID = Model.ID })
		</div>
	}

	using (Html.BeginModal("addTourModal", "Добавить тур"))
	{
		<div class="modal-form-container">
			@Html.Partial("Tour/_AddForm", new Tour { TournamentID = Model.ID })
		</div>
	}

	using (Html.BeginModal("questionsVisibilityModal", "Настройки видимости"))
	{
		<div class="modal-container">
			@Html.Partial("Questions/_VisibilityForm", new QuestionsVisibilityFormModel())
		</div>
	}

	using (Html.BeginModal("addQuestionsModal", "Добавить список вопросов", "no-header-border"))
	{
		<ul class="nav nav-tabs">
			<li class="active"><a href="#questions-file" data-toggle="tab">Добавить файл</a></li>
			@*<li><a href="#questions-form" data-toggle="tab">Заполнить форму</a></li>
			<li><a href="#questions-linked" data-toggle="tab">Указать связанный турнир</a></li>*@
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="questions-file">
				@Html.Partial("Questions/_AddFileForm", new QuestionsFileModel())
			</div>
			@*<div class="tab-pane" id="questions-form">
				@Html.Partial("Questions/_AddForm")
			</div>
			<div class="tab-pane" id="questions-linked">
				@Html.Partial("Questions/_AddLinkedTourForm")
			</div>*@
		</div>
	}
}



@using (Html.BeginModal("teamListModal", "Список команд", "modal-lg"))
{
	<div class="modal-body">
		<div class="modal-container">

		</div>
	</div>
}


@using (Html.BeginModal("questionsModal", "Список вопросов"))
{
	<div class="modal-body">
		<div class="modal-container">

		</div>
	</div>
}


@using (Html.BeginModal("addReportModal", "Загрузить отчет"))
{
	<div class="modal-body">
		@Html.Partial("Report/_AddForm", new ReportFileModel())
	</div>
}

@using (Html.BeginModal("addAppealModal", "Подать апелляцию"))
{
	<div class="modal-container">
	</div>
}

@using (Html.BeginModal("appealsModal", "Поданные апелляции", "no-header-border"))
{
	<div class="modal-container">
	</div>
}

@using (Html.BeginModal("checkProtocolModal", "Проверить протокол"))
{
	<div class="modal-container">
	</div>
}

@using (Html.BeginModal("resultsModal", "Результаты турнира", "modal-lg"))
{
	<div class="modal-body">
		<div class="modal-container">
		</div>
	</div>
}
