﻿@using ChgkSystem.WebUI.Models
@model IEnumerable<ChgkSystem.Domain.Entities.Tournament>

@{
	
	ViewBag.CurrentPage = "Tournaments";
}

<h2>
	Турниры
	<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addTournamentModal">
		Добавить турнир
	</button>
</h2>


@using (Html.BeginModal("addTournamentModal", "Создать турнир"))
{
	<div class="modal-form-container">
		@Html.Partial("_AddForm", new AddTournamentFormModel())
	</div>
}

<ul class="nav nav-tabs">
	<li class="@(ViewBag.TournamentPage == "All" ? "active" : "")">@Html.ActionLink("Все", "All")</li>
	<li class="@(ViewBag.TournamentPage == "Next" ? "active" : "")">@Html.ActionLink("Предстоящие", "Next")</li>
	<li class="@(ViewBag.TournamentPage == "Active" ? "active" : "")">@Html.ActionLink("Текущие", "Active")</li>
	<li class="@(ViewBag.TournamentPage == "Past" ? "active" : "")">@Html.ActionLink("Прошедшие", "Past")</li>
</ul>

@foreach (var tournament in Model)
{
	@Html.Partial("_Preview", tournament)
}
