﻿@using ChgkSystem.Domain.Entities
@using ChgkSystem.WebUI.Models
@model ChgkSystem.Domain.Entities.Playground

<div class="tabbable row">
	<div class="col-sm-4 tabs-left">
		<ul class="nav nav-tabs no-float">
			@foreach (var team in Model.Teams)
			{
				<li>
					<a href="#team@(team.ID)"
					   class="@(team.Status == TeamStatus.Pending ? "tab-warning" : "")"
					   data-toggle="tab">
						@team.Name
					</a>
				</li>
			}
			<li><a href="#add-team" class="tab-success active" data-toggle="tab"><i class="fa fa-plus"></i> Добавить команду</a></li>
		</ul>
	</div>
	<div class="tab-content no-border col-sm-8">
		@foreach (var team in Model.Teams)
		{
			<div class="tab-pane" id="team@(team.ID)">
				@Html.Partial("Team/_Item", team)
			</div>
		}
		<div class="tab-pane active" id="add-team">
			<h4>Добавить команду</h4>
			<div class="modal-form-container">
				@Html.Partial("Team/_AddForm", new AddTeamFormModel { PlaygroundID = Model.ID, Tournament = Model.Tournament, TournamentID = Model.TournamentID })
			</div>
		</div>
	</div>
</div>

