﻿@using ChgkSystem.Domain.Entities
@using Microsoft.AspNet.Identity
@model ChgkSystem.Domain.Entities.Tour


<h4>@Model.Number тур</h4>
<ul class="list-unstyled status-bar list-tabbed">
	<li>
		<i class="fa fa-calendar fa-fw"></i>
		Время проведения: @Model.Date.Value.ToString("dd.MM.yyyy")
	</li>
	@if (Model.Status == TourStatus.WaitingAppeals)
	{
		<li>
			<i class="fa fa-calendar-o fa-fw"></i>
			Подача апелляций до:@Model.ApealsUntilDate.Value.ToString("dd.MM.yyyy")
			<span class="manage-buttons">
				<span>
					<a data-toggle="modal"
					   data-target="#addAppealModal"
					   data-url="@Url.Action("Add", "Appeal", new { tourID = Model.ID })"
					   data-callback="addUnobtrusiveValidation">
						Подать апелляцию
					</a>
				</span>
				@if (ViewBag.isManager)
				{
					<span>
						<a data-toggle="modal"
						   data-target="#appealsModal"
						   data-url="@Url.Action("List", "Appeal", new { tourID = Model.ID })"
						   data-callback="addUnobtrusiveValidation">
							Поданные апелляции
						</a>
					</span>
				}
			</span>
		</li>
	}
	<li>
		<i class="fa fa-question fa-fw"></i>
		Список вопросов:
		<span class="manage-buttons">
			@if (Model.Questions.Count == 0)
			{
				<span>нет</span>
				if (ViewBag.isManager)
				{
					<span>
						<a href="javascript://void"
						   data-toggle="modal"
						   data-target="#addQuestionsModal"
						   data-script="openQuestionsModal"
						   data-tour="@Model.ID">
							Добавить
						</a>
					</span>
				}
			}
			else
			{
				<span>
					<a data-toggle="modal"
					   data-target="#questionsModal"
					   data-url="@Url.Action("Questions", "Tour", new {TourID = Model.ID})">
						@Model.Questions.Count вопросов
					</a>
				</span>
				if (ViewBag.isManager)
				{
					@*<span>
							<a data-toggle="modal"
							   data-target="#questionsVisibilityModal"
							   data-url="@Url.Action("EditVisibility", "Questions", new {TourID = Model.ID})"
							   data-callback="addUnobtrusiveValidation">
								Настройки видимости
							</a>
						</span>*@
				}
			}

		</span>
	</li>
	@if (Model.Tournament.Playgrounds.Select(m => m.UserID).Contains(User.Identity.GetUserId()) && Model.Status == TourStatus.WaitingReports)
	{
		<li>
			<i class="fa fa-file-text-o fa-fw"></i>
			<a data-toggle="modal"
			   data-target="#addReportModal"
			   data-script="openAddReportModal"
			   data-tour="@Model.ID">
				Добавить отчет
			</a>
		</li>
	}
	@if (Model.Tournament.Jury.Select(m => m.Id).Contains(User.Identity.GetUserId())
	&& (Model.Status == TourStatus.CheckingProtocols || Model.Status == TourStatus.WaitingReports && Model.ReportsUntilDate < DateTime.Now))
	{
	<li>
		<i class="fa fa-files-o fa-fw"></i>
		<a data-toggle="modal"
		   data-target="#checkProtocolModal"
		   data-url="@Url.Action("Modal", "Protocol", new {TourID = Model.ID})">
			Проверить протокол
		</a>
	</li>
	}
</ul>