﻿@using Microsoft.AspNet.Identity
@model ChgkSystem.Domain.Entities.Playground

<div class="playground">
	<h4>Отчетная площадка "@Model.Title"</h4>
	<div class="options">
		<span class="manage-buttons">
			@if (Model.UserID == User.Identity.GetUserId())
			{ 
				<span>
					<a data-toggle="modal"
					   data-target="#teamListModal"
					   data-url="@Url.Action("Teams", "Playground", new {playgroundID = Model.ID})"
					   data-callback="addUnobtrusiveValidation">
						Список команд
					</a>
				</span>
			}
		</span>
	</div>
	<ul class="list-unstyled list-tabbed">
		@foreach (var location in Model.Locations)
		{
			<li>
				<i class="fa fa-map-marker"></i>
				@location.Title
			</li>
		}
	</ul>
</div>