﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.PlaygroundSubmitFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessSubmitGeneric"
	};
}

@using (Ajax.BeginForm("Submit", "Playground", ajaxOptions))
{
	@:Требуется подтверждение заявки
	@Html.HiddenFor(m => m.PlaygroundID)
	<button type="submit"
			name="Status"
			value="@PlaygroundStatus.Accepted"
			class="btn btn-warning btn-xs">
		Подтвердить
	</button>
	<button type="submit"
			name="Status"
			value="@PlaygroundStatus.Rejected"
			class="btn btn-link btn-xs panel-link">
		Отклонить
	</button>
}