﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.AppealReviewFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Review", "Appeal", ajaxOptions))
{
	@Html.HiddenFor(m => m.TourID)
	<div class="modal-body">
		@foreach (var appeal in Model.Appeals)
		{
			<div class="apeal-review">
				<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-default btn-sm">
						@Html.RadioButton("Reviews[" + appeal.ID.ToString() + "]", AppealStatus.Rejected)
						<span class="text-danger">
							<i class="fa fa-times"></i>
							Отклонить
						</span>
					</label>
					<label class="btn btn-default btn-sm">
						@Html.RadioButton("Reviews[" + appeal.ID.ToString() + "]", AppealStatus.Accepted)
						<span class="text-success">
							<i class="fa fa-check"></i>
							Принять
						</span>
					</label>
				</div>
				<ul class="list-unstyled">
					<li>
						<label>Команда:</label>
						@appeal.Team.Name
					</li>
					<li>
						<label>Вопрос:</label>
						@appeal.Question.Text
					</li>
					<li>
						@if (appeal.Answer != null)
						{
							<label>Ответ:</label>
							@appeal.Answer.Text
						}
						else
						{
							<label>Вопрос не отвечен</label>
						}
					</li>
					<li>
						<label>Тип апелляции:</label>
						@switch (appeal.AppealType)
						{
							case AppealType.AnswerAccept:
								@:Зачет ответа
								break;
							case AppealType.QuestionDecline:
								@:Снятие вопроса
								break;
						}
					</li>
					<li>
						<label>Аргументация</label>
						<br/>
						@appeal.Text
					</li>
				</ul>
			</div>
			<hr/>
		}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Сохранить">
	</div>
}
