﻿@model ChgkSystem.WebUI.Models.AddTeamFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", "Team", ajaxOptions))
{
	@Html.HiddenFor(m => m.TournamentID)
	@Html.HiddenFor(m => m.PlaygroundID)
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Players)
		@Html.TextAreaFor(m => m.Players, new { @class = "form-control", rows = 4 })
		@Html.ValidationMessageFor(m => m.Players)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.GroupIDs)
		@foreach (var group in Model.Tournament.Groups)
			{
			<div class="checkbox">
				<label>
					<input type="checkbox" class="required-checkbox" value="@group.ID" name="GroupIDs" checked="@Model.GroupIDs.Contains(group.ID)">
					@group.Title
				</label>
			</div>
			}
		@Html.ValidationMessageFor(m => m.GroupIDs)
	</div>
	<input type="submit" class="btn btn-primary" value="Добавить">
}