﻿@using ChgkSystem.Domain.Entities
@using ChgkSystem.WebUI.Models
@model ChgkSystem.Domain.Entities.Team

@if (Model.Status == TeamStatus.Pending)
{
	@Html.Partial("Team/_SubmitForm", new TeamSubmitFormModel {TeamID = Model.ID})
}
<h4>@Model.Name</h4>
<h5>Код:</h5>
@Model.Code
<h5>Состав:</h5>
<ul class="list-unstyled list-tabbed">
	@foreach (var player in Model.Players)
	{
		<li>
			<i class="fa fa-user fa-fw"></i>
			@player.Name
		</li>
	}
</ul>

<h5>Участвует в группах:</h5>
<ul class="list-unstyled list-tabbed">
	<li>
		<i class="fa fa-circle-o fa-fw"></i>
		Группа школьников
	</li>
	<li>
		<i class="fa fa-circle-o fa-fw"></i>
		Группа студентов
	</li>
</ul>

