﻿@model ChgkSystem.WebUI.Models.RegisterTeamFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Register", "Team", ajaxOptions))
{
	@Html.HiddenFor(m => m.TournamentID)
	<div class="modal-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Name)
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Players)
			@Html.TextAreaFor(m => m.Players, new { @class = "form-control", rows = 4 })
			@Html.ValidationMessageFor(m => m.Players)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.PlaygroundID)
			@Html.DropDownListFor(m => m.PlaygroundID, new SelectList(Model.Tournament.Playgrounds, "ID", "Title"), "Выберите отчетную площадку", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.PlaygroundID)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.GroupIDs)
			@foreach (var group in Model.Tournament.Groups)
			{
				<div class="checkbox">
					<label>
						<input type="checkbox" class="required-checkbox" value="@group.ID" name="GroupIDs" checked="@Model.GroupIDs.Contains(group.ID)">
						@group.Title
					</label>
				</div>
			}
			@Html.ValidationMessageFor(m => m.GroupIDs)
		</div>
		<hr />
		<div class="form-group">
			@Html.LabelFor(m => m.Email)
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Email)
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Отправить заявку">
	</div>
}