﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.TeamSubmitFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessSubmitGeneric"
	};
}

@using (Ajax.BeginForm("Submit", "Team", ajaxOptions))
{

	<div class="alert alert-warning">
		Требуется подтверждение заявки
		@Html.HiddenFor(m => m.TeamID)
		<button type="submit"
		        name="Status"
		        value="@TeamStatus.Accepted"
		        class="btn btn-warning btn-xs">
			Подтвердить
		</button>
		<button type="submit"
		        name="Status"
		        value="@TeamStatus.Rejected"
		        class="btn btn-link btn-xs alert-link">
			Отклонить
		</button>
	</div>
}
