﻿@model ChgkSystem.Domain.Entities.Group

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", "Group", ajaxOptions))
{
	@Html.HiddenFor(m => m.TournamentID)
	<div class="modal-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Title)
			@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Title)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Description)
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 6 })
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Добавить">
	</div>
}