﻿@model ChgkSystem.WebUI.Models.ResultsViewModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "GET",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("All", "Results", ajaxOptions))
{
	<div clas="row">
		<div class="col-sm-10">
			<div class="row" style="margin-bottom: 10px">
				<input type="hidden" name="tournamentID" value="@Model.Tournament.ID"/>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">Тур</span>
						<select class="form-control" name="tourID">
							<option value="0" @( Model.TourID == 0 ? "selected" : "")>Суммарные результаты</option>
							@foreach (var tour in Model.Tournament.Tours)
							{
								<option value="@tour.ID" @(tour.ID == Model.TourID ? "selected" : "")>@tour.Number тур</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">Группа</span>
						<select class="form-control" name="groupID">
							@foreach (var group in Model.Tournament.Groups)
							{
								<option value="@group.ID" @(group.ID == Model.GroupID ? "selected" : "")>@group.Title</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">Регион</span>
						<select class="form-control" name="playgroundID">
							<option value="0" @( Model.PlaygroundID == 0 ? "selected" : "")>Все</option>
							@foreach (var playground in Model.Tournament.Playgrounds)
							{
								<option value="@playground.ID" @(playground.ID == Model.PlaygroundID ? "selected" : "")>@playground.Title</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="row">
				<input class="btn btn-primary btn-block" type="submit" value="Применить" />
			</div>
		</div>
	</div>

	<table class="table table-bordered">
		<thead>
		<tr>
			<th colspan="3">Команда</th>
			<th colspan="@Model.Tournament.Tours.Count()">Тур</th>
			<th colspan="2">Итог</th>
		</tr>
		<tr>
		<th>Код</th>
		<th>Название</th>
		<th>Площадка</th>
		@foreach (var tour in Model.Tournament.Tours)
		{
			<th>@tour.ID</th>
		}
		<th>Вопросы</th>
		<th>Место</th>
		</thead>
		<tbody>
		@foreach (var team in Model.Teams)
		{
			<tr>
				<td>@team.Code</td>
				<td>@team.Name</td>
				<td>@team.Playground</td>
				@foreach (var tour in team.Tours)
				{
					<td>@tour</td>
				}
				<td>@team.Total</td>
				<td>1</td>
			</tr>
		}
		</tbody>
	</table>
}
