﻿

.post-detail hr {
	margin: 5px 0;
}

.news-post {
	margin-bottom: 30px;
}


.tournament-preview ul.status-bar li {
	margin-right: 15px;
}

.tournament-preview hr {
	margin: 5px 0;
}

.tournament .tab-pane {
	padding: 20px;
}

.list-tabbed {
	margin-left: 15px;
}

.clear {
	width: 1% !important;
}

#inputJury {
	width:100%;
}

#juryList li {
	background-color: #f5f5f5;
}

textarea {
	resize: vertical;
}

.panel-heading > .checkbox {
	margin: 0;
}

#formFinal {
	display: None;
}
.datepicker {
	z-index:1151 !important;
}

.no-border {
	border: 0 !important;
}

span.manage-buttons > span {
	margin-right: 15px;
}

div.options {
	margin: -10px 0 10px;
}



.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
	 -moz-border-radius: 0 0 4px 4px;
		  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
	 -moz-border-radius: 4px 0 0 4px;
		  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
	 -moz-border-radius: 0 4px 4px 0;
		  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.tab-content.no-border > .tab-pane {
	border: 0;
}

.tab-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

li > a.tab-success:hover, li.active > a.tab-success, li.active > a.tab-success:hover {
	color: #2b542c;
	background-color: #D6DED2;
}

.tab-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

li > a.tab-warning:hover, li.active > a.tab-warning, li.active > a.tab-warning:hover {
	color: #66512c;
	background-color: #E4E2D8;
}


.no-float {
	float: none !important;
}


.panel > .panel-heading .panel-link {
	font-weight: bold;
}
.panel.panel-info > .panel-heading .panel-link {
	color: #245269;
}
.panel.panel-success > .panel-heading .panel-link {
	color: #2b542c;
}
.panel.panel-warning > .panel-heading .panel-link {
	color: #66512c;
}
.panel.panel-danger > .panel-heading .panel-link {
	color: #843534;
}

.check-buttons {
	text-align: right;
}

.paginator {
	text-align: center;
}

.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    /*
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    */
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.validation-summary-errors {
    /*font-weight: bold;*/
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.close.padded {
	padding: 10px 10px 0 0;
}

/*.tab-content.no-border > .tab-pane {
	border : none !important;
}*/

.no-header-border .modal-header {
	border: none;
}