﻿@model ChgkSystem.Domain.Entities.News

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", ajaxOptions))
{
	<div class="modal-body">
		<div class="form-group">
			<label>Заголовок</label>
			@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Title)
		</div>
		<div class="form-group">
			<label>Текст новости</label>
			@Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = 6 })
			@Html.ValidationMessageFor(m => m.Text)
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Добавить" />
	</div>
}

