﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.Paginator<ChgkSystem.Domain.Entities.News>
@{
	ViewBag.Title = "List";
	ViewBag.CurrentPage = "News";
}

<h2>
	Новости
	<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addNewsModal">
		Добавить новость
	</button>
</h2>

<div id="addNewsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addNewsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content no-radius">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="addNewsModalLabel">Добавить Новость</h4>
			</div>
			<div class="modal-form-container">
				@Html.Partial("_AddForm", new News())
			</div>
		</div>
	</div>
</div>

@foreach (var news in Model.CurrentPage)
{
	@Html.Partial("_Item", news)
}

<div class="text-center">
	@Html.PageLinks(Model, x => Url.Action("List", new { page = x }))
</div>


