﻿@model IEnumerable<ChgkSystem.Domain.Entities.News>
<h4>
	<i class="fa fa-newspaper-o"></i>
	Последние новости
</h4>
<div class="panel panel-default no-radius">
	<div class="panel-body">
		<ul class="media-list">
			@foreach (var news in Model)
			{
				<li class="media">
					<div class="media-body">
						<h4 class="media-heading">@news.Title</h4>
						@(news.Text.Length > 43 ? news.Text.Substring (0, 43) + "..." : news.Text)
					</div>
				</li>
			}
		</ul>

	</div>
	<div class="list-group">
		@Html.ActionLink("Смотреть все новости", "List", "News", null, new { @class = "list-group-item" })
	</div>
</div>
