﻿@model ChgkSystem.WebUI.Models.AddTournamentFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", ajaxOptions))
{
	<div class="modal-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Tournament.Title)
			@Html.TextBoxFor(m => m.Tournament.Title, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Tournament.Title)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Tournament.Description)
			@Html.TextAreaFor(m => m.Tournament.Description, new { @class = "form-control", rows = 6 })
			@Html.ValidationMessageFor(m => m.Tournament.Description)
		</div>
		<div class="form-group">
			<label for="inputDates">Время проведения *</label>
			<div class="input-daterange input-group" id="inputDates">
				@Html.TextBoxFor(m => m.Tournament.SinceDate, "{0:dd.MM.yyyy}", new { @class = "form-control", placeholder = "дд.мм.гггг" })
				<span class="input-group-addon clear"> - </span>
				@Html.TextBoxFor(m => m.Tournament.UntilDate, "{0:dd.MM.yyyy}", new
				{
					@class = "form-control",
					placeholder = "дд.мм.гггг"
				})
			</div>
			@Html.ValidationMessageFor(m => m.Tournament.UntilDate)
			@Html.ValidationMessageFor(m => m.Tournament.SinceDate)
		</div>
		<div class="form-group">
			<label for="inputJury">Состав игрового жюри</label>
			<ul class="list-group" id="juryList">
				<input placeholder="Поиск пользователей" autocomplete="off" class="list-group-item" id="inputJury">
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Создать"/>
	</div>
}

