﻿<div class="modal-body">
	linked
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
	<input type="submit" class="btn btn-primary" value="Добавить">
</div>
