﻿@model ChgkSystem.Domain.Entities.News

<div class="news-post">
	<h4 class="media-heading">@Model.Title</h4>
	@Model.Text
	<div class="post-detail">
		<hr />
		<div class="">@Model.Date.ToString("dd.MM.yyyy")</div>
	</div>
</div>