﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.AddAppealFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", "Appeal", ajaxOptions))
{
	<div class="modal-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Appeal.TeamID)
			@Html.DropDownListFor(m => m.Appeal.TeamID, new SelectList(Model.Tour.Tournament.Teams, "ID", "Name"), "Выберите команду", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appeal.TeamID)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Appeal.QuestionID)
			@Html.DropDownListFor(m => m.Appeal.QuestionID, new SelectList(Model.Tour.Questions, "ID", "Text"), "Выберите вопрос", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appeal.QuestionID)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Appeal.AppealType)
			<div class="radio">
				<label>
					@Html.RadioButtonFor(m => m.Appeal.AppealType, AppealType.QuestionDecline)
					Снятие вопроса
				</label>
			</div>
			<div class="radio">
				<label>
					@Html.RadioButtonFor(m => m.Appeal.AppealType, AppealType.QuestionDecline)
					Зачет ответа
				</label>
			</div>
			@Html.ValidationMessageFor(m => m.Appeal.AppealType)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Appeal.Text)
			@Html.TextAreaFor(m => m.Appeal.Text, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appeal.Text)
		</div>
		<hr/>
		<div class="form-group">
			@Html.LabelFor(m => m.Appeal.Email)
			@Html.TextBoxFor(m => m.Appeal.Email, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appeal.Email)
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Добавить">
	</div>
}