﻿@model ChgkSystem.Domain.Entities.Appeal

<div class="apeal-review">
	<div class="btn-group pull-right" data-toggle="buttons">
		<label class="btn btn-default btn-sm">
			<input type="radio" name="options" id="option1">
			<span class="text-danger">
				<i class="fa fa-times"></i>
				Отклонить
			</span>
		</label>
		<label class="btn btn-default btn-sm">
			<input type="radio" name="options" id="option2">
			<span class="text-success">
				<i class="fa fa-check"></i>
				Принять
			</span>
		</label>
	</div>
	<ul class="list-unstyled">
		<li>
			<label>Команда:</label>
			@Model.Team.Name
		</li>
		<li>
			<label>Вопрос:</label>
			@Model.Question.Text
		</li>
		<li><label>Ответ:</label> Какой-то текст ответа</li>
		<li><label>Тип апелляции:</label> Снятие вопроса</li>
		<li>
			<label>Аргументация</label>
			<br />
			Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.

		</li>
	</ul>
</div>
