﻿@using ChgkSystem.WebUI.Models
@model AppealsViewModel
		   
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#apealList" data-toggle="tab">Список поданных апелляций</a></li>
	<li><a href="#apealReview" data-toggle="tab">Рассмотрение апелляций</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="apealList">
		<div class="modal-body">
			<div class="form-group">
				<label for="appealsText">Текст апелляций</label>
				<textarea id="appealsText" class="form-control" rows="6">@Model.AppealsText</textarea>
				<span class="help-block"><a href="#">Скачать в виде текстового файла</a></span>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="apealReview">
		@Html.Partial("Appeal/_ReviewForm", new AppealReviewFormModel { Appeals = Model.Appeals, TourID = Model.TourID })
	</div>
</div>
