﻿@model ChgkSystem.Domain.Entities.Tour

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("Add", "Tour", ajaxOptions))
{
	@Html.HiddenFor(m => m.TournamentID)
	<div class="modal-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Date)
			@Html.TextBoxFor(m => m.Date, new { placeholder = "дд.мм.гггг", @class = "form-control", id = "inputDate" })
			@Html.ValidationMessageFor(m => m.Date)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ReportsUntilDate)
			@Html.TextBoxFor(m => m.ReportsUntilDate, new { placeholder = "дд.мм.гггг", @class = "form-control", id = "inputReportsUntil" })
			@Html.ValidationMessageFor(m => m.ReportsUntilDate)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ApealsUntilDate)
			@Html.TextBoxFor(m => m.ApealsUntilDate, new { placeholder = "дд.мм.гггг", @class = "form-control", id = "inputApealUntil" })
			@Html.ValidationMessageFor(m => m.ApealsUntilDate)
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Добавить">
	</div>
}