﻿@model ChgkSystem.Domain.Entities.User

@if (Model == null)
{
	<li>
		<a href="#" data-toggle="modal" data-target="#loginModal">Войти</a>
		@using (Html.BeginModal("loginModal", classes: "modal-sm"))
		{
			<div class="bs-example bs-example-tabs">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#login" data-toggle="tab">Войти</a></li>
					<li class=""><a href="#register" data-toggle="tab">Зарегистрироваться</a></li>
				</ul>
			</div>
			<div class="modal-body">
				<div class="tab-content no-border">
					<div class="tab-pane fade active in" id="login">
						@Html.Partial("Forms/_LoginForm")
					</div>
					<div class="tab-pane fade" id="register">
						@Html.Partial("Forms/_RegisterForm")
					</div>
				</div>
			</div>
		}
	</li>
}
else
{
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Аккаунт
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Личный кабинет</a></li>
			<li>@Html.ActionLink("Выйти", "Logout")</li>
		</ul>
	</li>
}
