﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/portal.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<meta name="description" content="The description of my page" />
</head>
<body>
	<nav class="navbar navbar-inverse no-radius" role="navigation">
		<div class="container middle-content no-bg">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					Что? Где? когда?
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="@(ViewBag.CurrentPage == "News" ? "active" : "")">@Html.ActionLink("Новости", "List", "News")</li>
					<li class="@(ViewBag.CurrentPage == "Tournaments" ? "active" : "")">@Html.ActionLink("Турниры", "All", "Tournament")</li>
					@Html.Action("LoginMenu", "Account")
				</ul>
			</div>
		</div>
	</nav>

	<div class="container middle-content">
		<div class="row">
			<section class="col-lg-12">
				<div class="row">
					<div class="content col-lg-8 col-md-8">
						<div class="row">
							<div class="col-lg-12">
								@RenderBody()
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						@if (ViewBag.CurrentPage != "News")
						{
							@Html.Action("Widget", "News")
						}
					</div>
				</div>
			</section>

			<section class="footer col-lg-12">
				<hr>
				<div class="row footer-content">
					<div class="col-lg-6">
						&COPY; Some text in footer
					</div>
				</div>
			</section>
		</div>
	</div>

	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.form.min.js"></script>
	<script src="~/Scripts/jquery.nicescroll.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/additional-methods.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
	<script src="~/Scripts/bootstrap-datepicker.js"></script>
	<script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js"></script>
	<script src="~/Scripts/bootstrap-filestyle.min.js"></script>
	<script src="~/Scripts/bootstrap-typeahead.min.js"></script>
	<script src="~/Scripts/scripts.js"></script>

	<script>

		function addJury(obj) {
			if ($('#juryList input[value=' + obj.value + ']').length > 0) {
				return
			}
			var closeBtn = '<i class="fa fa-close pull-right" onclick="removeJury(' + obj.value + ')"></i>'
			$("#juryList").append(
				'<li id="jury'
				+ obj.value
				+ '" class="list-group-item muted">'
				+ closeBtn
				+ obj.text + '</li>')
			$("#juryList").append('<input type="hidden" name="jury" value="' + obj.value + '">')
			$('#inputJury').val('asdsd')
		}

		function removeJury(id) {
			$('li#jury' + id).remove()
			$('#juryList input[value=' + id + ']').remove()
}
			$('#inputJury').typeahead({
				ajax: {
					url: '/Account/Users',
					method: 'post'
				},
				onSelect: addJury,
				val: ''
			});
	</script>
</body>
</html>