﻿@using ChgkSystem.WebUI.Models
@model ChgkSystem.Domain.Entities.Tour

<ul class="nav nav-tabs" id="checkProtocolTab">
	@*<li class="active"><a href="#protocol-file" data-toggle="tab">Из файла</a></li>*@
	<li><a href="#protocol-form" data-toggle="tab">Заполнить форму</a></li>
	<li><a href="#protocol-discuss" data-toggle="tab">Спорные ответы</a></li>
</ul>
<div class="tab-content">
	@*<div class="tab-pane active" id="protocol-file">
		<div class="modal-body">
			<div class="form-group">
				<label><a>Скачать файл с протоколом</a></label>
			</div>
			<div class="form-group">
				@Html.Partial("Protocol/_AddFileForm")
			</div>
		</div>
	</div>*@
	<div class="tab-pane active" id="protocol-form">
		@Html.Partial("Protocol/_CheckForm", new CheckProtocolFormModel { TourID = Model.ID, Questions = Model.Questions })
	</div>
	<div class="tab-pane" id="protocol-discuss">
		@Html.Partial("Protocol/_DiscussForm", new DiscussProtocolFormModel { TourID = Model.ID, Questions = Model.Questions })
	</div>
</div>

