﻿@model ChgkSystem.WebUI.Models.LoginFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnBegin = "onBeginLogin",
		OnSuccess = "onSuccessLogin"
	};
}

@using (Ajax.BeginForm("Login", ajaxOptions))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	</div>
	<input type="submit" class="btn btn-primary btn-block" value="Войти" />
}
