﻿<div class="modal-body">
	<form role="form">
		<div class="question-form">
			<div class="form-group">
				<label for="question1">Вопрос</label>
				<input type="text" class="form-control" id="questionName1">
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="trueAnswers1">Верные ответы</label>
						<textarea id="trueAnswers1" class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="trueAnswers1">Неверные ответы</label>
						<textarea id="trueAnswers1" class="form-control" rows="3"></textarea>
					</div>
				</div>
			</div>
			<hr />
		</div>
		<button type="button" class="btn btn-link" id="addQuestionButton">Добавить вопрос</button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
	<input type="submit" class="btn btn-primary" value="Добавить">
</div>
