﻿@using ChgkSystem.Domain.Entities
@model ChgkSystem.WebUI.Models.QuestionsVisibilityFormModel

@{
	AjaxOptions ajaxOptions = new AjaxOptions
	{
		HttpMethod = "POST",
		OnSuccess = "onSuccessGeneric"
	};
}

@using (Ajax.BeginForm("EditVisibility", "Questions", ajaxOptions))
{
	@Html.HiddenFor(m => m.TourID)
	<div class="modal-body">
		<div class="form-group">
			<label>Вопросы видны для</label>
			<div class="radio">
				<label>
					@Html.RadioButtonFor(m => m.QuestionsVisibility, QuestionsVisibility.ForMe)
					Меня
				</label>
			</div>
			<div class="radio">
				<label>
					@Html.RadioButtonFor(m => m.QuestionsVisibility, QuestionsVisibility.ForPlaygroundManager)
					<input type="radio" value="" name="appealType">
					Организаторов отчетных площадок
				</label>
			</div>
			<div class="radio">
				<label>
					@Html.RadioButtonFor(m => m.QuestionsVisibility, QuestionsVisibility.ForAll)
					Всех
				</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<input type="submit" class="btn btn-primary" value="Добавить">
	</div>
}
